body {
  display: flex;
  justify-content: center;
}
input {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 5px;
  color: rgb(88, 57, 14);
}

input::placeholder {
  color: rgb(88, 57, 14);
}

.container {
  margin-top: 30px;
  border: 1px solid rgb(232, 200, 161);
  background-color: bisque;
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error {
  min-height: 24px;
  margin-top: 20px;
  color: red;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.btn {
  background-color: rgb(232, 200, 161);
  margin: 15px;
  padding: 5px 10px;
  color: rgb(88, 57, 14);
}

button:disabled {
  background-color: rgb(215, 208, 208);
  color: rgb(121, 119, 119, 0.3);
}
